server:
  max-http-header-size: 10000
  port: 10002

# 指定该服务要注册进指定url的服务注册中心
eureka:
  client:
    service-url:
      defaultZone: http://192.168.1.111:8101/eureka/

ibs:
  parent:
    cors:
      access-control-allow-methods: GET,POST,PUT,DELETE
      access-control-allow-headers: Origin, X-Requested-With, Content-Type, Accept, _log, _token
      access-control-max-age: 1800
    filter:
      enable-dynamic-table-filter: true

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:sqlserver://localhost:1433;DatabaseName=i18n
    username: sa
    password: root
  application:
    name: ibs-i18n    