server:
  port: 10002

# 指定该服务要注册进指定url的服务注册中心
eureka:
  client:
    service-url:
      defaultZone: http://localhost:10000/ibs-servers-eureka/

ibs:
  parent:
    cors:
      access-control-allow-methods: GET,POST,PUT,DELETE
      access-control-allow-headers: Origin, X-Requested-With, Content-Type, Accept, _log, _token
      access-control-max-age: 1800
    filter:
      enable-dynamic-table-filter: true
    dynamic:
      table:
        project-name: i18n
        mapping-template-resource-paths:
        - mappings/I18nMessage.tmp.xml.template
        mapping-codes:
        - I18N_MESSAGE_
        name: I18N_DYNAMIC_TABLE
        count-ceiling: 500
        warn-count-ceiling: 450
        skip-set-table-index-url-patterns:
        - /i18n/dynamic/table/initial
        - /i18n/dynamic/table/destroy

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:sqlserver://localhost:1433;DatabaseName=douglei
    username: sa
    password: root
    driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
  application:
    name: ibs-i18n
    
#    driverClassName: oracle.jdbc.driver.OracleDriver
#    url: jdbc:oracle:thin:@localhost:1521:ORCL
#    username: douglei
#    password: root
    